# Dependencies
node_modules/

# Next.js
.next/
out/

# Build files
dist/
build/

# Environment variables
.env
.env.local

# IDE files
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java & Maven
target/
*.class
*.jar
*.war
*.ear
.metadata
.classpath
.project
.settings/
bin/